<section class="section">
  <div class="container">
    <h1 class="title has-text-centered">Editing shot</h1>
    <%=render 'form',  shot: @shot %>
  </div>
</section>





<!--<h1>Editing shot</h1>-->

<%#= render "form", shot: @shot %>

<!--<br>-->

<!--<div>-->
<!--  <%#= link_to "Show this shot", @shot %> |-->
  <%#= link_to "Back to shots", shots_path %>
<!--</div>-->
